doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title mobooru

    link(rel="stylesheet", href="//cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css")

    link(rel="stylesheet", href="styles/reset.css")
    link(rel="stylesheet", href="styles/base.css")
    link(rel="stylesheet", href="styles/ui.css")
    link(rel="stylesheet", href="styles/mobooru.css")

  body
    .mb-header.ui-full-width.ui-fixed.ui-shadow.ui-flex-row
      a(href='/'): h2.mb-title mobooru
      input.mb-input.ui-flex-grow(placeholder='Search...')
      //- a.mb-icon-button(href='#'): i.mdi.mdi-magnify
      a.mb-icon-button(href='#'): i.mdi.mdi-upload

    .mb-image-list
      .ui-flex-row.ui-flex-justify-center.ui-flex-wrap
        each src in images
          a.mb-image.ui-shadow(href='#', style=`background-image: url(images/${src})`)
