.mb-button {
  display: inline-block;
  color: #aaa;
  padding: 0.3em 0.6em;
  transition: 0.2s;
}

.mb-button--primary {
  background: rgb(52, 152, 219);
  color: white;
}

.mb-button:hover {
  cursor: pointer;
}

.mb-button:hover, .mb-button:focus {
  color: rgb(41, 128, 185);
}

.mb-button:active {
  color: rgb(41, 128, 185);
}
