/* anti-bullshit reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base element styles */
:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #555;

  @media (max-width: 400px) { font-size: 14pt; }
  @media (min-width: 400px) { font-size: 16pt; }
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

input, button, textarea {
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  width: max-content;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

fieldset {
  border: none;
}

p {
  padding: 0.6em 0;
}
