@import 'mixins';

$primary: rgb(90, 177, 232);
$primary-alt: rgb(41, 128, 185);

.mb-button {
  display: inline-block;
  color: #aaa;
  padding: 0.3em 0.6em;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    color: $primary;
  }

  &:focus {
    color: $primary;
  }

  &:active {
    color: $primary-alt;
  }
}

.mb-button--primary {
  background-color: $primary;
  &:hover { background-color: $primary-alt }
  &:focus { background-color: $primary-alt }

  &, &:hover, &:focus, &:active { color: white }
}

.mb-input {
  border-bottom: 2px solid #ddd;
  transition: 0.2s border-bottom-color;
  padding: 0.3em 0.6em;
  display: inline-block;
}

.mb-input:hover, .mb-input:focus {
  border-bottom: 2px solid lightskyblue;
}
