/* global anti-bullshit reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base element styles */
:root {
  font-family: Roboto;
  font-size: 16pt;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

ul, li {
  list-style: none;
}

input, button, textarea {
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

/* mobooru elements */
.mb-header {
  padding: 0.3em 0.6em;
  background-color: white;
}

.mb-input {
  border-bottom: 2px solid #ddd;
  transition: 0.2s border-bottom-color;
  margin: 0 0.3em;
  padding: 0.1em 0.3em;
}

.mb-input:hover {
  border-bottom: 2px solid lightskyblue;
}

.mb-icon-button {
  color: #aaa;
  display: inline-block;
  padding: 0.3em 0.5em;
}

.mb-image-list {
  padding-top: 3em;
}

.mb-image {
  display: inline-block;
  width: 16em;
  height: 16em;
  margin: 0.4em;
  overflow: hidden;
}

.mb-image img {
  max-width: 100%;
  display: block;
}

@media (max-width: 480px) {
  .mb-title {
    display: none;
  }
}

/* utility styles */
.ui-full-width {
  left: 0;
  right: 0;
}

.ui-full-height {
  top: 0;
  bottom: 0;
}

.ui-shadow {
  box-shadow: 0 0.1em 0.3em #bbb;
}

.ui-fixed {
  position: fixed;
}

.ui-flex-row {
  display: flex;
}

.ui-flex-column {
  display: flex;
  flex-direction: column;
}

.ui-flex-justify-center {
  justify-content: center;
}

.ui-flex-align-center {
  align-items: center;
}

.ui-flex-grow {
  flex-grow: 1;
}

.ui-flex-wrap {
  flex-wrap: wrap;
}
