/* base element styles */
:root {
  font-family: Roboto;
  font-size: 16pt;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

ul, li {
  list-style: none;
}

input, button, textarea {
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}
