doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title mobooru

    link(rel="stylesheet", href="styles/normalize.css")
    link(rel="stylesheet", href="//cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css")

    link(rel="stylesheet", href="styles/base.css")
    link(rel="stylesheet", href="styles/ui.css")
    link(rel="stylesheet", href="styles/mobooru.css")

    //- script(defer, src='scripts/main.js')

  body
    .mb-header
      h2.mb-header-title: a(href='/') mobooru
      input.mb-header-search(placeholder='Search...')
      a.mb-button(href='#'): i.mdi.mdi-upload

    .mb-image-list
      //- each src in images
      //-   a.mb-image.ui-shadow(href='#', style=`background-image: url(images/${src})`)
